# Segmenting and Clustering Neighborhoods in Toronto

#### Import all necessary libraries for the data analysis

In [2]:
#improt libraries
import pandas as pd
import numpy as np
import requests

from bs4 import BeautifulSoup as bs

#### Import the web link

In [3]:
#get the web link
link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source=requests.get(link).text
web=bs(source,'lxml')

#### Screp the table from the page and load

In [4]:
#extrect the table from the webpage
table1=web.find('tbody')
data_table=[]
for data in table1.find_all('tr'):
    data_table.append(data)

#### Load the data to a data frame

In [5]:
#loading to dataframe
data_list=[]
for data in data_table:
    v=data.text.split('\n')
    v.remove('')
    v.remove('')
    data_list.append(v)
toro_data=pd.DataFrame(data_list)
toro_data.rename(columns=toro_data.iloc[0,:],inplace=True)
toro_data.drop(toro_data[toro_data['Borough'] == 'Borough'].index, inplace = True)
toro_data.head()

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

#### Clean the Data
 Ignore cells with a borough that is Not assigned.
 If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [6]:
#Drop invalied data
toro_data.drop(toro_data[toro_data['Borough'] == 'Not assigned'].index, inplace = True)
for index,data in enumerate(toro_data['Borough']):
    if toro_data.iloc[index,2]=='Not assigned':
        toro_data.iloc[index,2].replace('Not assigned',data)
toro_data.reset_index(inplace=True)
toro_data.drop('index',axis=1,inplace=True)
toro_data.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [7]:
#Define the list to String
def ListToString(list):
    string=""
    for word in list:
        string=string+word+','
        
    re=''
    for i in range(len(string)):
        if i!=(len(string)-1):
            re=re+string[i]
    return re

#### Group all neighborhood can exist in one postal code area.

In [44]:
#Clusting the neighbourhood
postcode=toro_data['Postcode'].unique()
toro_post=pd.DataFrame({'Postcode':[],'Borough':[],'Neighbourhood':[]})



for pc in postcode:
    Bor=[]
    Nei=[]
    for index,data in enumerate(toro_data['Postcode']):
        if pc==data:
            Bor=toro_data.iloc[index,1]
            Nei.append(toro_data.iloc[index,2])
                    
    Nei_string=ListToString(Nei)
    df=pd.DataFrame({'Postcode':[pc],'Borough':Bor,'Neighbourhood':[Nei_string]})
    toro_post=pd.concat([toro_post,df],ignore_index=True)


toro_post.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto                     Harbourfront
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A  Downtown Toronto                     Queen's Park

In [9]:
toro_post.shape

(103, 3)